<div class="customer-container">
 <!--  <h2>Customer Management</h2> -->
  <!-- <p>This is the customer management page.</p> -->
  
  <div class="customer-info">
    <!-- <h3>Customer Information12</h3>
    <p>Here you can manage customer data and information.</p> -->
  </div>
   <button>
    {{ "asVariableinsidebutton"}}
   </button>
   <button>
    {{ 
      'LOCO' | transloco 
      }}
   </button>
   <button>
    DEMO for button
   </button>
   <label>{{'Customer.Rashmi' | transloco}}</label>
  <div>
    Niva Prajapati Prajapati
  </div>
<!-- 
  <div *ngIf="secondaryQualityScore >= 0" class="mb-2" [ngClass]="{ 'd-none': !secondaryQualityScore }">
  </div> -->
</div>
